@import "../../styles/colors";
@import "../../styles/mixins";

.checkout {
  height: 100vh;
  background-color: $backgroundColor;
  @include flexBox(center, center, column);
  gap: 5rem;
  > h1 {
    text-align: center;
    font-size: 6rem;
    color: $linkColor;
    margin: 0;
  }
  p {
    text-align: center;
    font-size: 6rem;
    color: $linkColor;
    margin: 0;
  }
  > p {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      width: 8rem;
    }
  }
}
@media screen and (max-width: "770px") {
  .checkout {
    > h1 {
      font-size: 4rem;
    }
    > p {
      font-size: 4rem;
      > img {
        width: 5rem;
      }
    }
  }
}
@media screen and (max-width: "426px") {
  .checkout {
    > h1 {
      font-size: 3rem;
    }
    > p {
      font-size: 3rem;
      > img {
        width: 3.5rem;
      }
    }
  }
}
